body {
    font-family: Arial, sans-serif;
    margin: 8px;
    display: block;
}

#mainHeading {
    color: red;
}

.funParagraph {
    color: green;
}

.band-image {
    width: 50%;
    height: auto;
}
